project:
  type: website

website:
  title: "PopModels"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-copy: true
    embed-resources: true
    self-contained-math: true

editor: visual

